.page {
     display: inline-block;
    width: 100%;
    background: none;
}

.top {
    padding: 2rem 4rem 2rem 4rem;
}

.content {
    padding: 0;

}

.grid-container {
   /* width: 85%; */
    margin: 0 auto;
     -moz-column-width: 13em;
 -webkit-column-width: 13em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em; 
}

.grid-element {
    width: 100%; /* 15% */
    padding-bottom: 0px;
    margin: 1.5%;
     display: inline-block; 
    margin-bottom: 10px;
}

.grid-element .fa {
    font-size: 5rem;
    padding: 10%;
}

@media(max-width:544px){
   .grid-element .fa {
        font-size: 2rem;
        padding: 10%;
    }
}

.grid-element span {
    color: white;
}

.grid-element-content {
    position: absolute;
    height: 80%;
    width: 90%;
    padding: 10% 5%;
}

.grid-element-content img {
    width: auto;
    height: auto;
    max-height:90%;
    max-width:100%;
}

.sub-content-item {
    text-align: center;
    width: 100%;
    background-color: white;
}

.slash {
    border-top: 4px solid black;
    width: 2em;
    margin-right: 1.5em;
    transform: rotate(-55deg);
    float: left;
}

.turn {
    transform: rotate(0deg);
}


.left-arrow {
  display: inline-block;
  width: 2em;
  height: 2em;
  border-top: 4px solid #333;
  border-right: 4px solid #333;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-right: 1.5em;
  float: left;
}


#slash line {
    stroke-dasharray: 62px;
    stroke-dashoffset: 62px;
}

#slash.checked line {
    stroke-dashoffset: 0px;
    transition: stroke-dashoffset 0.4s ease 0.2s;

   /* transition: stroke-dashoffset 0.8s ease 0.2s, fill 0.2s ease;*/
}

app-photography {
    position: initial !important;
}



section {
 display: inline-block;
 background: none;
}

.category {
    cursor: pointer; 
}

.category img {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.category img:hover {
   opacity: 0.6;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}


/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(255,255,255, 0.7); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    z-index: 4;
  width: 40px;
  height: 45px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 80%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 18px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 27px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    background-color: black;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    background-color: black;    
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#btn-expand-gallery {
    border: 2px solid black;
    width: 15px;
    height: 25px;
    margin-top: 15px;
    margin-right: 30px;
    cursor: pointer;
}

/* CUSTOM LIGHTBOX CSS */
.lb-nav a.lb-next {
    position: fixed !important;
}



/* GALLERY VIEW */
.overlay-gallery {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 100px;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(255,255,255, 1); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-gallery-content {
    height: 100%;
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */

}

.overlay-gallery-image img {
    max-width: 100%;
    max-height: 75vh;
}

/* The navigation links inside the overlay */
.overlay-gallery a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay-gallery a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay-gallery .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay-gallery a {font-size: 20px}
    .overlay-gallery .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


[hidden] {
    display: none;
}

.controls {
    height: 50px;
}