.container {
    background-color: white;
    padding: 20px; 
    margin-left: 2rem;
}

.top {
    width: 100%;
}

.content {
    padding: 0;
}

.grid-container {
   /* width: 85%; */
    margin: 0 auto;
     -moz-column-width: 13em;
 -webkit-column-width: 13em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em; 
}

.grid-element {
    width: 100%; /* 15% */
    padding-bottom: 0px;
    margin: 1.5%;
     display: inline-block; 
    
}

.grid-element .fa {
    font-size: 5rem;
    padding: 10%;
}

@media(max-width:544px){
   .grid-element .fa {
        font-size: 2rem;
        padding: 10%;
    }
}

.grid-element span {
    color: white;
}

.grid-element-content {
    position: absolute;
    height: 80%;
    width: 90%;
    padding: 10% 5%;
}

.grid-element-content img {
    width: auto;
    height: auto;
    max-height:90%;
    max-width:100%;
}

.sub-content-item {
    text-align: center;
    width: 100%;
    background-color: white;
}

.slash {
    border-top: 4px solid black;
    width: 2em;
    margin-right: 1.5em;
    transform: rotate(-55deg);
    float: left;
}

.turn {
    transform: rotate(0deg);
}


.left-arrow {
  display: inline-block;
  width: 2em;
  height: 2em;
  border-top: 4px solid #333;
  border-right: 4px solid #333;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-right: 1.5em;
  float: left;
}


#slash line {
    stroke-dasharray: 62px;
    stroke-dashoffset: 62px;
}

#slash.checked line {
    stroke-dashoffset: 0px;
    transition: stroke-dashoffset 0.4s ease 0.2s;

   /* transition: stroke-dashoffset 0.8s ease 0.2s, fill 0.2s ease;*/
}

app-photography {
    position: initial !important;
}



section {
 display: inline-block;
 padding:  1rem;
 background: none;
}