<section class="container">
  <div class="top">
    <h1><span class="slash">/</span>PHOTOGRAPHY</h1>
  </div>
  <section class="content">
    <div>
      
    </div>
    <div class="sub-content-item" >
        <div class="grid-container inline-block">
            <a href="#" class="category grid-element">
            </a>
            <a href="#" class="category grid-element">
            
            </a>
            <a href="#"class="category grid-element">

            </a>
              <a href="#"class="category grid-element">

            </a>
              <a href="#" class="category grid-element">
            </a>
            <a href="#" class="category grid-element">
            
            </a>
            <a href="#"class="category grid-element">

            </a>
              <a href="#"class="category grid-element">

            </a>
      </div>
    </div>
  </section>

</section>
