<section class="container">
  <div class="top">
    <!--   <div class="left-arrow"></div>
     <div class="slash"></div> -->
      <div style="float: left;">
     <!--   <svg version="1.1" id="arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="82.333px" height="71.499px" viewBox="0 0 82.333 71.499" enable-background="new 0 0 82.333 71.499" xml:space="preserve">
          <line fill="#FFFFFF" stroke="#000000" stroke-width="5" stroke-miterlimit="10" x1="17" y1="36.083" x2="81" y2="36.083"/>
          <line fill="#FFFFFF" stroke="#000000" stroke-width="4" stroke-miterlimit="10" x1="14.094" y1="37.568" x2="29.75" y2="21.833"/>
          <line fill="#FFFFFF" stroke="#000000" stroke-width="4" stroke-miterlimit="10" x1="14.094" y1="34.755" x2="29.75" y2="50.21"/>
          </svg> -->
          <svg version="1.1" id="slash" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="42.747px" height="71.499px" viewBox="0 0 42.747 71.499" enable-background="new 0 0 42.747 71.499" xml:space="preserve" [classList]="my_Class">
          <line fill="#FFFFFF" stroke="#000000" stroke-width="4" stroke-miterlimit="10" x1="2.396" y1="49.884" x2="40.167" y2="1.832"/>
          </svg>
      </div>

    <div><h1 style="padding-top: 25px; letter-spacing: 8px;">PHOTOGRAPHY</h1></div>
  </div>
  <section class="content">
    <div>
      
    </div>
    <div class="sub-content-item" >
        <div class="grid-container inline-block">
            <a href="#" class="category grid-element">
            </a>
            <a href="#" class="category grid-element">
            
            </a>
            <a href="#"class="category grid-element">

            </a>
              <a href="#"class="category grid-element">

            </a>
              <a href="#" class="category grid-element">
            </a>
            <a href="#" class="category grid-element">
            
            </a>
            <a href="#"class="category grid-element">

            </a>
            <a href="#"class="category grid-element">

            </a>
      </div>
    </div>
  </section>

</section>
