/* You can add global styles to this file, and also import other style files */
body {
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;


}
html, body, .image { height: 100%; }

.main {
    background: url("/assets/BG.png") no-repeat center center;
    background-size: cover;
    width:100%;
    height: 100%; 
}

.content {
    height: 500px;
}