<section class="main">
    <div class="top">

    </div>
    <div class="centerFull">
      <!-- <h1>Chasing the light</h1> -->
    <!-- <a href="#" class="btn btn-white btn-large btn-fx-fill">Enter</a> -->

      <div id="home-projects"><a href="#"><h2>PROJECTS</h2></a></div>
      <div id="home-design"><a href="#"><h2>DESIGN</h2></a></div>

      <div id="home-logo"><a href="#"><img src="../assets/logo.png"/></a></div>

    </div>
    <div class="bottom">
              <div id="home-photography"><a routerLink="photography"><h2>PHOTOGRAPHY</h2></a></div>

    </div>


  <!--  <a href="#" class="arrow bounce">
    </a> -->
</section>

<!-- <nav class="topnav" [hidden]="navHide">
  <div >
    <a href="#"><img id="logo" src="../assets/logo.png"/></a>
  </div>
  <ul>
    <li>
      <a href="">Photography</a>
    </li>
    <li>
        <a href="">Design</a>
    </li>
     <li>
        <a href="">Projects</a>
    </li>
  </ul>
</nav> -->



<!--
<section class="content" style="display: none">
    <div id="categories" class="grid-container">
        <a href="#" class="category grid-element">
           <div class="grid-element-content">
             <div><i class="fa fa-camera-retro" aria-hidden="true"></i></div>
              <span>Photography</span>
          </div>
        </a>
        <a href="#" class="category grid-element">
            <div class="grid-element-content">
              <div><i class="fa fa-paint-brush" aria-hidden="true"></i></div>
              <span>Design</span>
          </div>
        </a>
        <a href="#"class="category grid-element">
           <div class="grid-element-content">
              <div><i class="fa fa-cogs" aria-hidden="true"></i></div>
              <span>Projects</span>
          </div>
        </a>
    </div>
</section>

<section class="content">
    <div class="sub-content-item" >
      <h3 id="photography">Photography</h3>
       <div class="grid-container inline-block">
        <a href="#" class="category grid-element">
        </a>
        <a href="#" class="category grid-element">
        
        </a>
        <a href="#"class="category grid-element">

        </a>
          <a href="#"class="category grid-element">

        </a>
           <a href="#" class="category grid-element">
        </a>
        <a href="#" class="category grid-element">
        
        </a>
        <a href="#"class="category grid-element">

        </a>
          <a href="#"class="category grid-element">

        </a>
      </div>
    </div>
     
    <div class="sub-content-item">
      <h3 id="design">Design</h3>
           <div class="grid-container inline-block">
        <a href="#" class="category grid-element">
        </a>
        <a href="#" class="category grid-element">
        
        </a>
        <a href="#"class="category grid-element">

        </a>
          <a href="#"class="category grid-element">

        </a>
      </div>
    </div>
    <div class="sub-content-item">
      <h3 id="projects">Projects</h3>
           <div class="grid-container inline-block">
        <a href="#" class="category grid-element">
        </a>
        <a href="#" class="category grid-element">
        
        </a>
        <a href="#"class="category grid-element">

        </a>

      </div>
    </div>
</section>

-->